extends layout

block header
  .title
    h1 Page not found

block content
  .illustration.not-found
    .rocket

block footer
  .annotation.info
    p You may need to properly configure your redirect settings.